/* General */
.flex {
  display: flex;
}
.flexCol {
  flex-direction: column;
}
.flex1 {
  flex: 1;
}
.hScreen {
  height: 100vh;
}
.bgWhite {
  background-color: #ffffff;
}
.bgGray100 {
  background-color: #f7f7f7;
}
.bgGray800 {
  background-color: #053160;
}
.textWhite {
  color: #ffffff;
}
.textCenter {
  text-align: center;
}
.textLg {
  font-size: 1.125rem;
}
.text2Xl {
  font-size: 1.5rem;
}
.fontBold {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mt2 {
  margin-top: 0.5rem;
}
.p4 {
  padding: 1.1rem;
  
}
.px4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shadowMd {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.roundedMd {
  border-radius: 0.375rem;
}
.cursorPointer {
  cursor: pointer;
}
.hoverBgGray200:hover {
  background-color: #053160;
  color: #f9f638;
}
.grid {
  display: grid;
}
.gridCols2 {
  grid-template-columns: repeat(2, 1fr);
}
.gridCols4 {
  grid-template-columns: repeat(4, 1fr);
}
.gap4 {
  gap: 1rem;
}

/* Sidebar general */
.sidebar {
  height: 197.2vh;
  width: 100px; /* Ancho por defecto */
  background-color: #053160;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: width 0.3s ease; /* Transición suave */
  overflow: hidden;
}

/* Sidebar colapsada */
.sidebar.collapsed {
  width: 60px; /* Ancho reducido cuando está contraída */
}

/* Título de la Sidebar */
.sidebarTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebarTitle {
  display: none; /* Oculta el título en modo colapsado */
}

/* Ítems de la Sidebar */
.sidebarItem {
  list-style: none; /* Elimina los puntos */
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 0.5rem;
  border-radius: 0.375rem;
}

.sidebarItem:hover {
  background-color: #1d4e89;
}

.icon {
  font-size: 1.5rem;
}

.sidebar.collapsed .sidebarItem span {
  display: none; /* Oculta el texto cuando la sidebar está contraída */
}

/* Layout general */
.flex {
  display: flex;
}

.flex1 {
  flex: 1; /* El contenido principal ocupa el resto del espacio */
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.hScreen {
  min-height: 100vh; /* Asegura que el layout ocupe toda la altura */
}

.mainContent {
  background-color: #f4f4f4; /* Color de fondo */
  padding: 1rem;
}

.footer {
  background-color: #053160;
  color: white;
  text-align: center;
  padding: 1rem;
}
